
<h1 align="center">FAQ page</h1>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crowdvenience FAQ</title>

    <meta name="description" content="An FAQ guide for Crowdvenience app">
    <meta name="author" content="Crowdvenience pty Ltd">

   <!--   <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
  <!--   <link href="css/flat-ui.css" rel="stylesheet">
    
    <link href="css/style.css" rel="stylesheet">

    <link href="css/style.complete.css" rel="stylesheet">-->


  </head>
  <body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div align="center" class="jumbotron">
                    <h2>
                        HELP! section
                    </h2><br>
                    <p>
                        Use the FAQ to find what your looking for, if its not there use the contact form provided below.
                    </p>
                    <p>
                        <a class="center btn btn-primary btn-large" href="#">Learn more</a>
                    </p>

                    <div align="center" class="search-bar">This is the search area</div>
                            <div class="search_bar" id="alfred_search_bar">
                                <div class="search_bar_main">
                                  <div class="search_input ">
                                    <input type="search" class="col-md-8 col-md-offset-1 input-xxlarge search_input_text" placeholder="Search for answers" id="search_input" />&nbsp;
                                    <a class="btn search_btn btn-primary btn-sm" id="search_btn">Search</a>
                                  </div>



                                </div>
                              </div>

                </div>

            </div>
        </div>

    </div>
      
      <div class="container">
  <h2 align="center">Find your questions below</h2>
  <ul class="col-md-offset-3 nav nav-pills">
    <li><a data-toggle="pill" href="#menu0">Driver Questions</a></li>
    <li><a data-toggle="pill" href="#menu1">Customer questions</a></li>
    <li><a data-toggle="pill" href="#menu2">Dispute resolution</a></li>
    <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="menu0" class="tab-pane fade in">
     <br>
     <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading" >
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Collapsible Group 1</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Collapsible Group 2</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Collapsible Group 3</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
        </div> 
    </div>
    <div id="menu1" class="tab-pane fade">
      <br>
        <div class="panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse4">
                Collapsible Group 1</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse5">
                Collapsible Group 2</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse6">
                Collapsible Group 3</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
        </div> 
    </div>
    <div id="menu2" class="tab-pane fade">
     <br>
      <div class="panel-group" id="accordion3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse7">
                Collapsible Group 1</a>
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse8">
                Collapsible Group 2</a>
              </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse9">
                Collapsible Group 3</a>
              </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
        </div> 
    </div>
    <div id="menu3" class="tab-pane fade">
      <br>
      <div class="panel-group" id="accordion4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse10">
                Collapsible Group 1</a>
              </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse11">
                Collapsible Group 2</a>
              </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse12">
                Collapsible Group 3</a>
              </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.</div>
            </div>
          </div>
        </div> 
    </div>
  </div>
</div>
<i class="fa fa-2x fa-facebook"></i>
	<div class="row">
		<div class="col-md-4">
            <i class="fa fa-search"></i>
			<h2 align="center"><span class="fa fa-info"></span>
				Download 
			</h2>
            
			<p>
				Download the Crowdvenience app onto your iOS device and follow the prompts to setup an account or sign in.
			</p>
			<p>
				<a class="btn" href="#">Download link here »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2 align="center">
				Select
			</h2>
			<p>
				Select Driver user or customer user to start making deliveries or orders.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2 align="center">
				Collect
			</h2>
			<p>
				<li>Use the search function for drivers to find orders in your area and start earning cash today.</li>
                <li> Fill in the customer order form and submit to start collecting those items you're too busy to get to.</li>
			<br>
                <div class="col-sm-10 col-sm-offset-1"><a class="img-responsive"><img alt="" src="images/picture1.jpg" style="width: 100%; height: auto"></a></div>
				
			</p>
		</div>
	</div>
       
       
       


<div class="container contact_link_container">

  <div class="contact_link_title web_only">
    Need More Help?
  </div>

  <div id="tabs-feedback" class="contact_link_tab">
    <div class="contact_link_icon"></div><div class="contact_link_text t2_mobile">CONTACT US</div>
  </div>
</div>
</body>
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
	<script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/application.js"></script>
	<script src="js/over.js"></script>

  </body>
</html>